body {
  --bg-color: white;
  --fg-color: black;
  --link-color: blue;
}
/*body {
  --bg-color: #4abdac;
  --fg-color: white;
  --link-color: #4afc1a;
}/**/
/*body {
  --bg-color: #f2eee2;
  --fg-color: black;
  --link-color: #ff3b3f;
}/**/
