body {
  font-family: "Lucida Grande";
  font-size: 125%;
}
tr {
  width: 75vw;
}
td {
  width: 37.5vw;
  text-align: center;
}
img {
  height: 30vh;
  width: auto;
}
h2 {
  margin-bottom: 0;
}
#menu {
  width: 75vw;
  margin-left: 12.5vw;
}
td.link {
  cursor: pointer;
}
.slogan {
  font-size: 25%;
  margin: 0;
}
