body {
  font-family: "Lucida Grande";
  font-size: 125%;
}
tr {
  width: 75vw;
}
td {
  width: 37.5vw;
  text-align: center;
}
img {
  width: 37.5vw;
}
#menu {
  width: 75vw;
  margin-left: 12.5vw;
}
