body {
  font-family: "Lucida Grande";
  font-size: 125%;
}
tr {
  width: 75vw;
}
td {
  width: 37.5vw;
  text-align: center;
}
img:not(.icon) {
  height: 30vh;
  width: auto;
}
h2 {
  margin: 0;
}
a {
  color: blue;
}
#menu {
  width: 75vw;
  margin-left: 12.5vw;
}
#top-header {
  text-align: center;
}
#left-header {
  width: 50vw;
  text-align: left;
}
#right-header {
  width: 50vw;
  text-align: right;
  vertical-align: bottom;
}
td.link {
  cursor: pointer;
}
img.icon {
  border: 1px solid black;
}
.slogan {
  font-size: 75%;
  margin: 0;
}
.copyright {
  font-size: 50%;
  margin: 0;
}
