body {
  background-color: var(--bg-color);
  color: var(--fg-color);
  font-family: "Comic Sans MS";
  font-size: 125%;
}
button {
  background-color: var(--bg-color);
  color: var(--fg-color);
  font-family: "Comic Sans MS";
  font-size: 94%;
  border-radius: 10px;
  border: 2px solid gray;
  margin-top: 4px;
}
a {
  cursor: pointer;
  text-decoration: underline;
}
#menu td {
  width: 33vw;
}
#menu td:last-child {
  text-align: center;
}
#menu td:last-child * {
  margin-left: auto;
  margin-right: auto;
}
#menu tr {
  border-bottom: 1px solid black;
}
#menu {
  border-collapse: collapse;
  border-top: 1px solid black;
}
.thumbnail,.noimage {
  border: 2px solid black;
  width: 223px;
  height: 150px;
  margin-top: 3px;
}
.noimage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3px;
}
.state {
  display: block;
}
