body,input {
  background-color: var(--bg-color);
  color: var(--fg-color);
  font-family: "Lucida Grande";
  font-size: 125%;
}
img {
  width: 36.5vw;
  height: auto;
}
input,.paragraph {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #dddddd;
}
hr.hline {
  margin-bottom: 0;
}
#container {
  width: 83vw;
  min-height: 100vh;
  padding-left: 1vw;
  padding-right: 1vw;
  margin-left: 7.5vw;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  margin-top: 0;
}
#content {
  min-height: 50px;
}
#filePicker,#downloadLink {
  display: none;
}
#buttonPanel {
  text-align: center;
}
#buttonPanel > button {
  height: 50px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 120%;
  background-color: var(--bg-color);
  border: 1px solid #dddddd;
  font-family: "Lucida Grande";
}
#thumbnailButton {
  font-family: "Lucida Grande";
}
#title,#edition {
  font-weight: normal;
  margin: 0;
}
#left-header,#edition {
  display: inline;
}
#title {
  text-align: center;
  width: 100%;
  font-size: 200%;
}
#left-header > button {
  font-size: 105%;
  background-color: var(--bg-color);
}
#edition {
  text-align: right;
  float: right;
  width: 33%;
  margin: 0;
  font-size: 115%;
}
.image {
  text-align: center;
  margin: 0;
}
.caption {
  width: 100%;
  font-size: 100%;
  text-align: center;
  font-style: italic;
}
.paragraph {
  width: 100%;
  font-size: 100%;
  margin-top: 10px;
}
.paragraph:empty:not(:focus)::before {
  content: "Zodziai...";
  color: gray;
}
.buttonPanel,.buttonPanel > button {
  margin: 0;
}
.buttonPanel > button {
  background-color: var(--bg-color);
  border: 0;
}
