body {
  background-color: var(--bg-color);
  color: var(--fg-color);
  font-family: "Lucida Grande";
  font-size: 125%;
}
img {
  width: 36.5vw;
  height: auto;
}
hr {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
#container {
  width: 83vw;
  min-height: 100vh;
  padding-left: 1vw;
  padding-right: 1vw;
  margin-left: 7.5vw;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
}
#container > * {
  margin: 0;
}
#content > * {
  margin-top: 0;
}
#title,#left-header,#edition {
  font-weight: normal;
}
#left-header,#edition {
  display: inline;
}
#left-header > a {
  color: var(--fg-color);
}
#edition {
  text-align: right;
  float: right;
}
#title {
  text-align: center;
}
.image {
  text-align: center;
}
