body {
  background-color: var(--bg-color);
  color: var(--fg-color);
  font-family: "Lucida Grande";
  font-size: 125%;
}
@media only screen and (max-device-width: 812px) {
  body {
    font-size: 235%;
  }
}
img {
  width: 36.5vw;
  height: auto;
}
hr {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
td {
  width: 50vw;
  padding: 0;
  text-align: center;
}
#container {
  width: 83vw;
  min-height: 100vh;
  padding-left: 1vw;
  padding-right: 1vw;
  margin-left: 7.5vw;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
}
#container > * {
  margin: 0;
}
#content > * {
  margin-top: 0;
}
#left-header {
  text-align: left;
}
#edition {
  font-weight: normal;
  text-align: right;
}
#left-header,#edition {
  margin: 0;
}
#title {
  text-align: center;
}
.blacklink {
  color: var(--fg-color);
}
.image {
  text-align: center;
}
